/* RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #eef2f7;
}

/* NAVBAR */
.navbar {
  display: flex;
  background-color: #333;
}

.navbar a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #575757;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: white;
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* LAYOUT */
.main {
  display: flex;
  height: calc(100vh - 48px);
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: white;
  padding: 20px;
}

/* CENTRO */
.center {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4a6cf7; /* azul bonito */
}

/* VISOR */
model-viewer {
  width: 80%;
  height: 500px;
}

/* CONTROLES */
.controles {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.controles button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #2c2c54;
  color: white;
  cursor: pointer;
}

.controles button:hover {
  background: #40407a;
}

/* PANEL DERECHO */
.right-panel {
  width: 300px;
  padding: 20px;
}

.card {
  background: #2c2c54;
  color: white;
  padding: 20px;
  border-radius: 20px;
}
